.filters {
  position: absolute;
  width: 95%;
  top: 115px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: nowrap;
}
.filters .button {
  font-weight: 700;
  font-size: 14px;
  height: 25px;
  color: #000;
  text-transform: none;
  --padding-start: 10px;
  --padding-end: 10px;
}
.filters .button .icon {
  margin-right: 5px;
  color: #000;
  font-size: 14px;
}