.home {
	position: relative;
	height: 100%;
	width: 100%;

	.mapboxgl-map {
		.mapboxgl-canvas-container {
			.mapboxgl-canvas {
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 0;
			}
		}
		.mapboxgl-ctrl {
			display: none !important;
		}

		.cluster-marker {
			color: #000;
			background: #fff;
			opacity: 0.6;
			border: 1px solid #000;
			border-radius: 50%;
			padding: 20px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 900;
		}

		.marker {
			--background: 'none';
			--padding-start: 0;
			--padding-end: 0;
			
			&-icon {
				font-size: 35px;
				color: #3E4247;
			}
		}
	}

	.guidelines {
		position: absolute;
		bottom: 50px;
		left: 0;
		right: 0;
		margin: 0 auto;
		color: #fff;
		width: 130px;
		height: 35px;
		--background: #000;
		--padding-start: 0;
		--padding-end: 0;

		&-content {
			display: flex;
			align-items: center;
			justify-content: space-evenly;
			width: 100%;

			p {
				font-size: 16px;
				font-weight: 700;
			}

			img {
				width: 18px;
				height: 18px;
			}
		}
	}

	.primate-fab {
		bottom: 40px;
		right: 15px;
	}
}
