.onboarding-wrapper {
  position: relative;
  height: 100%;
  width: 100%;
}
.onboarding-wrapper .swiper {
  position: relative;
  width: 100%;
  height: 100%;
}
.onboarding-wrapper .swiper-slide {
  font-size: 18px;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
.onboarding-wrapper .parallax-bg {
  position: absolute;
  left: 0;
  top: 0;
  width: 200%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../../../assets/images/onboarding_background.jpg");
  background-size: cover;
  background-position: center;
}
.onboarding-wrapper .parallax-footer {
  z-index: 10;
  position: absolute;
  bottom: 2%;
  left: 0;
  right: 0;
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.onboarding-wrapper .parallax-footer .btn {
  background-color: unset;
  font-size: 16px;
}
.onboarding-wrapper .parallax-footer .btn-back {
  color: #55ffa3;
}
.onboarding-wrapper .parallax-footer .btn-next {
  padding: 10px 25px;
  background-color: #55ffa3;
  color: #0e0f11;
  font-weight: 700;
  text-align: center;
  border-radius: 6px;
}
.onboarding-wrapper .swiper-pagination {
  bottom: 2%;
}
.onboarding-wrapper .swiper-pagination-bullet {
  background-color: #fff;
  opacity: 1;
  height: 14px;
  width: 14px;
}
.onboarding-wrapper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #55ffa3;
}